<div>
    <h1>Bienvenue <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
</div>
<div>
  <input type="text" placeholder="Appellation, nom, cépage..">
  <button type="submit">
</div>
<div>
  <h3>Ma cave</h3>
  <%= cl_image_tag("bottle.photo.key",
      width: 400, height: 300, crop: :fill) %>
</div>
