<div>
    <h1>Bienvenue <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
</div>
<div>
  <input type="text" placeholder="Appellation, nom, cépage..">
  <button type="submit">
</div>
<div>
  <h3>Ma cave</h3>
  <%# <% @bottles.each do |bottle| %>
  <%# <h5><b><%= bottle.photo style: "height: 248px; width: 248px; object-fit: cover; margin: auto"</b></h5> %>
  <%# <p><%= bottle.name %>
  <%# <% end %>
</div>
