// Specific CSS for your home-page
.carousel-home {
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  scrollbar-width: none;
}

.carousel-cave {
  height: 300px;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  scrollbar-width: none;
}

.background {
  background-color: #F8E7CF;
}

.background-darker {
  background-color: #F1DEC2;
  border: none;
}
