.button {
  display: inline-block;
  width: 100%;
  padding: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #F8E7CF;
  border: none;
  border-radius: 50px;
  font: 600 20px Inter, sans-serif;
}

.button-black {
  background-color: Black;
}

.button-black:active {
  background-color: #635C53;
}

.button-red {
  background-color: #81152C;
}

.button-red:active {
  background-color: #B0696D;
}
