.button {
  display: inline-block;
  width: 100%;
  padding: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #F8E7CF;
  border: none;
  border-radius: 50px;
  font: 600 20px Inter, sans-serif;
}

.button-black {
  background-color: Black;
}

.button-black:active {
  background-color: #635C53;
}

.button-red {
  background-color: #81152C;
}

.button-red:active {
  background-color: #B0696D;
}

.sort-button-div {
  display: flex;
  justify-content: space-between;
  width: 370px;
  height: 32px;
  margin-bottom: 24px;
}

.sort-button {
  width: 80px;
  height: 32px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  font: 600 12px Inter, sans-serif;
  background-color: #F8E7CF;
}

.sort-button:focus {
  background-color: black;
  color: #F8E7CF;
  border: none;
}
