.modify {
  border-radius: 10px;
  width: 390px;
  border: 1px solid black;
  color: #F8E7CF;
  background-color: black;
  font: 500 16px Inter, sans-serif;
}

.cross-color {
  background-color: #F8E7CF;
  text-align: center;
}
