.slot-selector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

.background-modal {
background-color: #F8E7CF;
}

.empty-slot {
text-decoration: none;
display: inline-flex;
align-items: center;
justify-content: center;
width: 48px;
height: 48px;
padding: 6px 12px;
font: 600 20px Inter, sans-serif;
border-radius: 50px;
text-align: center;
color: #B9A88F;
}

.slot-selector .mb-3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  justify-content: center;
}

.slot-selector .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 0;
}

.slot-selector .cellar-grid {
  width: 350px;
  height: 439px;
}

.label-slot-id {
  font: 600 28px Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  display: block;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  grid-column: 1 / -1;
}

.cellar-text {
font: 400 18px Inter, sans-serif;
font-optical-sizing: auto;
font-weight: weight;
display: block;
margin-bottom: 30px;
text-align: center;
width: 100%;
grid-column: 1 / -1;
}

.slot-selector .form-check-input {
  position: absolute;
  opacity: 0;
}

.slot-selector .form-check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #B9A88F;
  background-color: #F8E7CF;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

.slot-selector .form-check-input:checked + .form-check-label {
  background-color: black;
  color: #F8E7CF;
}

.cellar-grid-new {
  width: 350px;
  height: 439px;
}

.empty-slot-new {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font: 600 20px Inter, sans-serif;
  border-radius: 50px;
  text-align: center;
  color: #B9A88F;
  }
